body{
    background-color:rgb(244 252 200);
}

#main {
    width: 100%;
}

#title {
    text-align: center;
    font-size: 25px;
}

#logo {
    width:10%;
    margin-left:50%;
    @media screen {
        margin-left:33%;
    }
}

p {
    text-align: left;
}


#messages {
    width: 100%;
    margin: 0 auto;
}

#newMessage {
    width: 100%;
    background-color: rgb(190, 251, 194);
}

#sysMessage {
    width: 100%;
    background-color: rgb(205, 235, 253);
}

#user-form {
    margin-top: 20%;
    display: block;
}

#message-form {
    display: none;
}

#greet {
    display: none;
}

#sendTxt {
    width: 100%;
}

#userTxt {
    width: 100%;
}