body {
    background-color:rgb(244 252 200);
    width: 65%;
    height: 65%;
    margin-top: 5px;
    margin-left: 30%;
    font-size: 18px;
}

h3 {
    margin-left: 10%;
}

#newMessage {
    width: 50%;
    margin-left: 0;
    background-color: rgb(210, 255, 213);
}

#userForm {
    margin-top: 50%;
    display: none;
}

.content {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
  }

.footer,
.messages {
    margin-top: 80%;
    height: 50px;
    overflow-y: scroll;
  }